/*
Modified Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.reveal code {
  font-family: 'Hasklig', monospace;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #181818;
  color: #f0f0f0;
  font-family: 'Hasklig', monospace;
  font-size: 21px;
  line-height: 1.42;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #304ffe;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #79db9f;
}

.hljs-string {
  color: #00c853;
}

.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #cfd8dc;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #66bb6a;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}

.hljs-number {
  color: #e92368
}