mixin main-title(subtitle, subsubtitle)
    div.main-title
        span.main-title-text= title
        span.main-title-extra= subtitle
        if subsubtitle
            span.subtitle-extra= subsubtitle